* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.container {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
}

.logo {
    margin: 0.5em;
}

#search {
    border: none;
    padding: 0.5em 0.6em;
    margin: 0.5em;
    border-radius: 10px;

}

#search:focus,
#search:hover {
    outline: none;
}

.container button {
    border: none;
    border-radius: 10px;
    padding: 0.6em;
    width: 80px;
    cursor: pointer;
    margin: 0.5em;
}

/* nav bar */

.nav-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.list {
    display: none;
    position: absolute;
    padding: 0.5em;
    /* margin-top: 0.6em; */
    background-color: antiquewhite;
    color: #333;
    /* text-align: center; */
    z-index: 1;
}

.list p {
    /* border-radius: 10px; */
    padding: 0.6em;
}

.list p:hover {
    background-color: #333;
    color: #fff;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: block; */
}

.dropdown {
    padding: 0.5rem;
    cursor: pointer;
    /* position: relative;
    display: inline-block; */
}

.drp {
    padding: 0rem 1rem;
}



/* main */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.product {
    border: 1px solid black;
    text-align: center;

}